body {
  font-family: fantasy;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
background-image: url('Screenshot\ from\ 2025-09-25\ 12-19-09.png');
 background-size: cover;        /* covers whole page */
  background-position: center;   /* centers image */
  background-repeat: no-repeat;  /* prevent tiling */

}



header {
  background-color: #652dad;
  color: #F6F1E1;
  text-align: center;
  padding:1rem;
  margin-bottom: 2rem;
}

main {
  padding: 1rem;
}

.filters {
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
}

.filter label {
  margin-right: 0.5rem;
}


.view-section, .matchday-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

label {
  margin-right: 0.5rem;
  font-size: 1.1rem;
  color: #F6F1E1;    
  font-weight: bold;    

}

select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

/* Table styling */
.matches table {
  width: 80%;
  margin: 0 auto 2rem auto;
  border-collapse: collapse;
  background-color:#F6F1E1;
  color:#006747;
}

.matches th, .matches td {
  padding: 0.75rem;
  border: 1px solid #ddd;
  text-align: center;
}


select:hover,
select:focus {
  background-color: #A7D08E;
  outline: none;
}

/* League Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #F6F1E1;
}

th {
  background-color: #652dad;
  color: #F6F1E1;
  padding: 1rem;
  text-align: left;
}

td {
  background-color: #f8f8f6;
  color: #486700;
  padding: 0.75rem;
  text-align: left;
}

tr:nth-child(even) td {
  background-color: #fdfdfc;
}







footer {
  text-align: center;
  padding: 0.5rem;
  background-color:  #0c0c13;
  color: #F6F1E1;
  margin-top: 32rem;
}

